.loupe-icon {
    height: 19px;
    opacity: 0.6;
}

.navbar-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-search > input {
    width: 75%;
    height: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

input:focus{
    outline: none;
}

.navbar-search > button {
    height: 19px;
    width: 19px;
    padding: 8px;
    box-sizing: initial;
    border: none;
    background: none;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}