.album-main {
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.album-background {
    height: auto;
    min-height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px) saturate(0.3);
}

.album-data {
    height: auto;
    width: 100%;
    max-width: 600px;
    box-sizing: initial;
    flex-direction: column;
    padding: 40px;
    padding-top: 140px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    background-color: rgba(17,17,17,0.5);
}

.album-data-box {
    height: auto;
    width: auto;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
}

.album-data-box-cover {
    height: 250px;
    width: 250px;
    border-radius: 125px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.album-data-box-title p {
    text-align: center;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 22px;
    text-shadow: 0 0 10px #000;
}

.album-page {
    width: 100%;
}

.album-page .home-box-item {
    padding: 0;
    border: none;
    margin: 6px;
    width: auto;
    background: rgba(0,0,0,0);
}

.album-page .home-box-item-name {
    height: auto;
    padding: 0;
    justify-content: center;
}

.album-page p {
    margin: 0;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #000;
}

.album-page > p {
    margin-bottom: 6px;
}