.home-box-outline {
    position: relative;
    width: 180px;
    height: 290px;
    margin: 6px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0), rgb(14, 207, 255), rgb(208, 255, 0), #ff9100);
    border-radius: 12px;
    transition: 0.75s;
}

.home-box-outline-bg {
    height: 286px;
    width: 176px;
    background-color: #111;
    border-radius: 10px;
    margin: 0 auto;
}

.home-box-item {
    position: absolute;
    width: 180px;
    height: 290px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 1s;
    border-radius: 10px;
    margin: 0 auto;
    backdrop-filter: saturate(0);
}

.home-box-item:hover {
    backdrop-filter: saturate(1);
}

.home-box-item-cover {
    height: 160px;
    width: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.artist-page .home-box-item-cover {    
    height: 50px;
    width: 50px;
    margin: 10px;
    box-sizing: initial;
}

.home-box-item-name {
    padding: 15px;
    letter-spacing: 3px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist-page .home-box-item-name {
    padding: 0;
    height: 70px;
    width: 100%;
    justify-content: flex-start;
}

.home-box-item-name > p {
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .home-box-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 70px;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        box-sizing: initial;
    }

    
.artist-page .home-box-outline {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: initial;
}

.home-box-outline {
    height: 70px;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}

.home-box-outline-bg {
    height: 66px;
    width: calc(100% - 4px);
    margin: 0 auto;
}

.home-box-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
    
    .home-box-item-cover {
        height: 50px;
        width: 50px;
        margin: 10px;
        box-sizing: initial;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .home-box-item-name {
        padding: 0;
        letter-spacing: 3px;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .home-box-item-name > p {
        text-align: start;
    }
}