.artist-main {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.artist-background {
    position: absolute;
    top: -25px;
    left: 0;
    height: calc(100%);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -2;
}

.artist-background-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0), rgba(17,17,17,1));
    z-index: -1;
}

.artist-data {
    min-height: 100vh;
    width: 100%;
    min-width: 100vw;
    display: flex;
}

.artist-data-box {
    height: auto;
    width: 500px;
    min-width: 250px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #111;
}

.artist-coverborder {
    padding: 5px;
    background-image: linear-gradient(to bottom right, rgb(14, 207, 255), rgb(208, 255, 0), #ff9100);
    border-radius: 50%;
}

.artist-cover {
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.artist-box-name {
    display: flex;
    box-sizing: border-box;
    padding: 15px;
    align-items: flex-end;
    justify-content: center;
}

.artist-box-name > p {
    text-align: center;
    min-width: 200px;
    font-size: 25px;
    padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 1px;
    user-select: none;
}

.artist-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.artist-buttons-box {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.artist-buttons-box-button {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px #111;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    box-sizing: border-box;
    color: #fff;
    background: linear-gradient(#111, #111) padding-box,
              linear-gradient(to bottom, #111, #111, #111, rgb(14, 207, 255), rgb(208, 255, 0), #ff9100) border-box;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    filter: saturate(0);
    transition: 0.5s;
}

.artist-buttons-box-button:hover {
    filter: saturate(1);
}

.artist-albumlist {
    width: 100%;
    display: flex;
    justify-content: center;
}

.artist-data .home-main {
    padding-top: 100px;
}

.artist-page .home-box-outline {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: initial;
}

.artist-page .home-box-outline {
    height: 70px;
    width: 100%;
    margin: 5px;
}

.artist-page .home-box-outline-bg {
    height: 66px;
    width: calc(100% - 4px);
    margin: 0 auto;
}

.artist-page .home-box-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .artist-data {
        flex-direction: column;
    }

    .artist-data-box {
        padding-top: 100px;
        width: 100%;
        background-color: initial;
        background-image: linear-gradient(rgba(17,17,17,0.7), rgba(17,17,17,0.7), rgba(17,17,17,0.3), rgba(17,17,17,0.0));
        padding-bottom: 50px;
    }
}
